*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    width: 960px;
    height: 960px;
    position: absolute;
}
.tabuleiro{
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    position: absolute;
}
.tabuleiro .preto{
    background-color: #555;
}

div img{
    top: 12px;
    left: 130px;
    width: 100px;
    position: absolute;
    animation: movimento-cavalo 35s infinite;
}


@keyframes movimento-cavalo {
    0%{top: 12px; left: 130px;}
    5%{top: 252px; left: 130px;}
    15%{top: 252px; left: 250px;}
    20%{top: 492px; left: 250px;}
    25%{top: 492px; left: 370px;}
    30%{top: 732px; left: 370px;}
    35%{top: 732px; left: 490px;}
    40%{top: 732px; left: 490px;}
    45%{top: 732px; left: 730px;}
    50%{top: 852px; left: 730px;}
    55%{top: 852px; left: 730px;}
    60%{top: 612px; left: 730px;}
    65%{top: 612px; left: 610px;}
    70%{top: 612px; left: 370px;}
    75%{top: 492px; left: 370px;}
    80%{top: 252px; left: 370px;}
    85%{top: 252px; left: 250px;}
    90%{top: 12px; left: 250px;}
    95%{top: 12px; left: 130px;}
    100%{top: 12px; left: 130px;}
}